.mayor_content {
    display: flex;
    width: 100vw;
    height: 88vh;
}

.panel {
    display: flex;
    padding: 20px 0 0 35px;
    height: 100%;
    width: 20%;
    flex-direction: column;
    background-color: black;
    color: white;
}

.title-panel{
    font-weight: 600;
    margin-bottom: 20px;
}

.panel-list{
    font-size: 1.2em;
    width: 60%;
    margin-bottom: 5px;
}
.panel-list:hover{
    font-size: x-large;
    border-bottom: 2px solid #FFA62B;
}
.panel-list:focus-within{
    font-size: x-large;
}
.content_admin {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    height: 100%;
    background-color: #212529;
}

.panel-h1 {
    
    background: rgba(72, 79, 86,0.8);
    align-self: flex-end;
    width: 30%;
    margin-top: 20px;
    height: 50px;
    display: flex;
    padding-left: 20px;
    border-left: 3px solid #FFA62B;
    border-bottom: 3px solid #FFA62B;
    border-radius: 10px 0 0 10px;
}
.title-h3{
    font-weight: 600;
    color:white;
    font-size: 40px;
}

.content-Profile {
    display: flex;
    padding-top: 15px;
    margin: auto;
    background-color: none;
    justify-content: space-evenly;
    height: 60%;
    width: 80%;
}

.crud_userpanel {
    /* background-color: #999999; */
    padding: 15px;
    border: 1px solid #FFA62B;
    color: white;
    border-radius: 5px;
}

.divInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;   
}

.file{
    width:160px
}

.form-group label:after{
    color:#FFA62B
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #FFA62B;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(255, 166, 43,0.9);
}

.btoncancelar{
    
    color: red;

}

.imgActivity{
    padding: 5px;
    align-self: center;
    margin-bottom: 20px;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    border: 2px solid #FFA62B;
}
/*----------------------------*/
.activities{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    height: 90%;
}

.contentOrder{
    width: 25%;
    height: 100%;
}
.title1-act{
    color:#FFA62B;
    text-align: center;
}
.contentActivity {
    display: flex;
    flex-direction: column;
    /* background-color: #999999; */
    width: 40%;
}
.titleHistory{
    color:#FFA62B;
    text-align: center;
}

.divItemHistory{
    border: solid 1px;
    margin-left: 5px;
    padding-left: 5px;
    width: 300px;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: rgb(108 117 125);
    display: flex;
    justify-content: space-around;
    /* border-color: #007bff; */
}

.card-bodyact{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.columns-act{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    /* margin : 0 20px 0 5px; */
    /* padding: 10px; */
    /* width: 40px; */
}

.th1-act{
    display: flex;
    margin : 0 15px 0 0;
    width: 40px;
}
.td1-act{
    display: flex;
    margin : 0 15px 0 0;
    width: 40px;
    
}

.profile-button{
    display: flex;
    justify-content: space-evenly;
}

input:disabled {
    color: black;
    background: #dddddd;
  }

.btn:hover{
    color: black;
    background-color:#FFA62B;
    border:none
}

