.contentActivity{
    display: flex;
    padding-top: 15px;
    margin: auto;
    flex-direction: row;
    background-color:#999999;
    height: 350px; 
}

.crud_userpanel{
    background-color:#999999;
    padding-right: 15px;
}

.divInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 370px;   
}

.btoncancelar{
    width: 60%;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 10px;
}

.imgActivity{
    margin-left: 40px;
    align-self: center;
    margin-bottom: 20px;
    width: 225px;
    height: 225px;
    border-radius: 50%;
}

.divHistory{
    width: 600px;
    border-radius: 5px;
    background-color: #FFA62B;
    margin-left: 15px;
    margin-top: 0px;
}

.titleHistory{
    display: flex;
    justify-content: center;
}

.divItemHistory{
    border: solid 1px;
    margin-left: 5px;
    padding-left: 5px;
    width: 300px;
}

.card-bodyact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.columns-act{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    /* margin : 0 20px 0 5px; */
    /* padding: 10px; */
    /* width: 40px; */
}

.th1-act{
    display: flex;
    margin : 0 15px 0 0;
    width: 40px;
}
.td1-act{
    display: flex;
    margin : 0 15px 0 0;
    width: 40px;
    
}

input:disabled {
    color: black;
    background: #dddddd;
  }