.stars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30%
}
.comment{
    display: flex;
    /* justify-content: space-around;
    align-items: center; */
}
.comentarios{
    display: flex;
    flex-direction: column;
    background-color:white;
    padding: 5px;
    max-height: 500px;
    overflow: scroll
}
.rev{
    background-color: whitesmoke;
    margin-bottom: 5px;
    padding: 5px 10px
}

.coment{
    background-color: whitesmoke;
    width: 500px;
    height: 30px;
}
.del-rev{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    text-align: center;
}
.nameReview{
    display: flex;
    justify-content: center;
}

.starReview{
    margin-right: 3%;
    
}