
.tableOrders{
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 5px;
    height: 85%;
    width: 300px;
    margin: 0 50px 0 50px;
}

.h11{
    color:#FFA62B;
    text-align: center;
    padding-top: 5px;
}

.td-order{
    display: flex;
}
.tr-order{
    width: 300px;
    display: flex;
    justify-content: space-around;
}