.content{
    position:relative;
    display: flex;
    padding: 0px 15px 0px 15px;
    align-items: center;
    justify-content: space-between;
    /* background-color: #020300; */
    height: 70px;
}

.nav-background-color {
    background-image: linear-gradient(to top, #000000, #1a1a1a, #2d2c2c, #414040, #565555);
}

.categorias{
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.itemList:hover{
    color:black;
    text-decoration: none;
}

a{  display: inline-block;
    color: #FFA62B;
    
    
}
a:hover{
    color: white;
    text-decoration: none;
}

/* .logo-container{
    margin-left: 20px;
} */

.logo{
    width: 55%;
    border-radius: 300px;
    margin-left: 20% 
}

.left-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

.login{
    /* width: 300px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user {
    padding: 0 0 0 15px;
   /*  width: 70px; */
    height: 35px; 
    border-radius: 50%;

}
.cart{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    align-items: center;
    border: 2px solid;
    border-color: #FFA62B;
    margin:0 10px;
    
}
/* MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded */
.cart:hover{
    border-color: white;
}   


