.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #020300;
}

a{  display: inline-block;
    color: #FFA62B;
    text-decoration-style: none;
    
}

a:hover{
    color: white;
}

.logocontainer{
    width: 250px;
    height: 150px;
} 

.logo{
    display: flex;
    width:  50px;
    height: 50px;
    border-radius: 300px;
}
.login{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user {
    padding: 0 15px 0 15px;
    width: 70px;
    height: 35px; 
    border-radius: 50%;

}
.cart{
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}