.botonBuscarUpdate{
    margin-top: 5px;
    width: 80%;
    border: 0px;
    background-color: gray;
    color:black;
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 10px;
}

.general4{
    margin-top:20px;
    width: 40%;
    color:white;
    background-color:black;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.labelCategory1{
    margin-left: 35%;
    margin-right: auto;
}
.labelCategory2{
    margin-left: 30%;
    margin-right: auto;
}
.labelCategory3{
    margin-left: 35%;
    margin-right: auto;
}

.inputCategory{
    margin-left: 25%;
    margin-right: auto;
    border-radius: 10px;
}