/* .product{
    
    position: fixed;
    padding-top: 50px;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);

} */


/* #FFA62B
#020300
#C5D5E4
#626868 */