.bottom3{
    margin-top:20px;
    width: 100px;
    color:black;
    background-color: gray;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 10px;
 }
 
