*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #E3E3D8;
  font-family: sans-serif;
  font-family: 'Open Sans';
}
.wrapper{
  width: 225px;
  height: 300px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
  .wrapper:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
  .container{
    width:100%;
    height:100%;
    padding: 0;
  }
   .container .top{
      height: 80%;
      width:100%;
    }
    .bottom{
      width: 200%;
      height: 20%;
      transition: transform 0.5s;
    }
      .bottom .clicked{
        transform: translateX(-50%);
      }
   .container h1{
          margin-top:-20px;
          padding:0;
          font-size: 25px;
      }
    .container  p{
          margin-top:-10px;
          padding:0;
          font-size: 20px;
      }
      .left{
        height:100%;
        width: 50%;
        background: #F4F4F4;
        position:relative;
        float:left;
      }
        .details{
          padding: 5px 0 0 5px;
          float: left;
          width: 70%;
        }
        .buy{
          float:right;
          width: 30%;
          height:100%;
          background: #F1F1F1;
          transition: background 0.5s;
          border-left:solid thin rgba(0,0,0,0.1);
          border:0
        }
         .buy i{
            font-size:30px;
            /* padding:25px; */
            /* color: #254053; */
            color: black;
            transition: transform 0.5s;
            cursor: pointer;
          }
          .buy:hover{
            background: #A6CDDE;
          }
          .buy:hover i{
            transform: translateY(5px);
            color:#00394B;
          }
      .right{
        width: 50%;
        background: #A6CDDE;
        color: white;
        float:right;
        height:200%;
        overflow: hidden;
      }
        .right .details{
          padding: 20px;
          float: right;
          width: calc(70% - 40px);
        }
        .reloj-img{
          width: 100%;
          height: 100%;
        }

        .card-waiting {
          opacity: 0.5;
        }

        .message-waiting-card {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: gray;
          opacity: 0.9;
          color: #FFA62D;
          font-size: 20px;
          text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
        }

        .spinner-bg {
          width: 3rem;
          height: 3rem;
        }

