/* My classes */
.bg-watchuseek {
  background-color: #FFA62B;
}

.forgotPassword-form{
  width: 450px;
  margin: 0 auto;
  padding: 30px 0;
}
.forgotPassword-form h3{
  color: #636363;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}
.forgotPassword-form h3:before, .forgotPassword-form h3:after{
  content: "";
  height: 2px;
  width: 16%;
  background: #d4d4d4;
  position: absolute;
  top: 50%;
  z-index: 2;
}	
.forgotPassword-form h3:before{
  left: 0;
}
.forgotPassword-form h3:after{
  right: 0;
}
.forgotPassword-form .hint-text{
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}
.forgotPassword-form form{
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f2f3f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.forgotPassword-form .form-group{
  margin-bottom: 20px;
}
.forgotPassword-form input[type="checkbox"]{
  margin-top: 3px;
}
.forgotPassword-form .btn{        
  font-size: 16px;
  font-weight: bold;		
  min-width: 140px;
  outline: none !important;
}
.forgotPassword-form .row div:first-child{
  padding-right: 10px;
}
.forgotPassword-form .row div:last-child{
  padding-left: 10px;
}    	
.forgotPassword-form a{
  color: #fff;
  text-decoration: underline;
}
.forgotPassword-form a:hover{
  text-decoration: none;
}
.forgotPassword-form form a{
  color: #5cb85c;
  text-decoration: none;
}	
.forgotPassword-form form a:hover{
  text-decoration: underline;
}