.general2{
    margin-top:20px;
    width: 25%;
    color:black;
    background-color:black;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 10px;
 }

 .tituloCrudDelete{
    color:white;
    margin-left: 5%;
    margin-right: auto;
    font-weight: bolder;
 }

 .selectCrudDelete{
    margin-left: 5%;
    margin-right: auto;
    padding: 5px;
    border-radius: 5%;
 }

.botonCrudDelete{
    margin-top: 15px;
    width: 100px;
    border: 0px;
    background-color: gray;
    color:black;
    margin-left: 25%;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 5px;
}

.botonCrudDelete:hover{
    background-color: red;
    font-size: 20px
}