.contentProfile{
    display: flex;
    flex-direction: column;
    height: 60%;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 45px;

}

.logoProfile{
    
    height: 120px;
    margin-top: 8px;
    background-position: 50% 50%;
}

.adminAdmin {
    color: #FFA62B; 
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 2.5em;
    padding-top: 15px;
}

.nombreAdmin {
    color: white; 
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.2em;
    padding-top: 5px;
}

.mailAdmin {
    color: white; 
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1em;

}