.contentForgot{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    padding-left: 70px;
    border:  #FFA62B 2px solid;
    background-color: #212529;
    justify-content: center;
    color:  #FFA62B;
    margin-left: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.forgotInput{
    width: 360px;
    margin-top: 15px;
}

.btnforgot{
    width: 100px;
    margin-top: 15px;
}

.btnforgot:hover{
    color: white;
    background-color:  #FFA62B;
}