.crud_contentUpdate{
    margin-top:20px;
    width: 25%;
    color:white;
    background-color:black;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.form_update{
    padding: 20px 0 0 20px;
}

.botonUpdate{
    margin-top: 15px;
    width: 70%;
    border: 0px;
    background-color: gray;
    color:black;
    margin-left: 5%;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 5px;
}