.mayor_content{
    display: flex;
    align-items: center;
    
}
.panel{
    display: flex;
    padding: 20px 0 0 35px;
    height: 89vh;
    width: 30%;
    flex-direction: column;
    background-color: black;
    color:white
}
.content_admin{
    width: 70%;
}
