.mayor_content{
    display: flex;
    align-items: center;
    
}
.panel{
    display: flex;
    padding: 20px 0 0 35px;
    height: 89vh;
    width: 20%;
    flex-direction: column;
    background-color: black;
    color:white
}
.content_admin{
    width: 70%;
    display: flex;
}
.box{
    width:70%;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.list_box{
    padding: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    height: 70vh;
    border: black 2px solid;
}
