.general{
    display: flex;
    width: 95%;
    margin: auto;
}
.general aside{
    width: 15%;
    background-color: gray;
    color: white;
    padding-top: 50px;
    border-radius: 15px;
}
.cont-productos{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.link{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px 30px ;
    cursor: pointer;
}
.link:hover{
  background:white;
}
.todos{
    background: #999999;
}

.links{
    display: flex;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    
}

/* .product{
    position: absolute;
    width: 100%;
    
    background-color: rgba(0, 0, 0, .3)

} */