.divmayor{
    background-color: #e3e3d8;
}

.btnUser{
    width: 300px;
    border-radius: 10px;
    color: gray;
    border: 0px;
    color: black;
}
.inputemail:focus {
    outline: none;
  }

.titulo{
    align-self: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.inputemail{
    width: 300px;
  
}

.labelemail{

    font-weight: bolder;
}

.contentUserSingup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #FFA62B 2px solid;
    margin-top: 40px;
    margin-left: 30%;
    color: #FFA62B;
    background-color: #212529;
    width: 500px;
    height: 420px;
}

.formUser{
    align-self: center;
}

.divUser{
    margin-bottom: 5px;
}

.btnUser{
    margin-top: 5px;
    border-radius: 5px;
}

.btnUser:hover{
    background-color: #FFA62B;
}

.divNoGris {
    background-color: black;
}

.divExGris {
    background-color: black;
}