.content{
    background-color: gray;
    display: flex;
    flex-direction: column;
    margin: 20px 5px 20px 5px;
}
.content1{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}