.content1{
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5%;
    color: white;
    margin-top: 50px;
    height: auto;
}

input{
    border: 0px;
    margin-bottom: 10px;
}

.category{
    margin-top: 20px
}

.button{
   margin-top:20px;
   width: 100px;
   color:black;
   background-color: gray;
   border: 0px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;
   margin-bottom: 10px;
}

.select{
    margin-top: 20px;
    margin-bottom: 20px;
}
