.contentReset{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 350px;
    padding-left: 100px;
    border:  #FFA62B 2px solid;
    background-color: #212529;
    justify-content: center;
    color:  #FFA62B;
    margin-left: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.resetInput{
    width: 250px;
    margin-bottom: 7px;
}

.resetbtn{
    width: 90px;
}

.resetbtn:hover{
    color: white;
    background-color: #FFA62B;
}

.danger{
    color: red;
}